body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(221, 216, 198);
  margin-top: 0;
}

header {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: rgb(19, 26, 58);
  color: rgb(199, 199, 175);
}

#buttons {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin-left: 1em;
}

#buttons button {
  margin: 0.8em;
  padding: 0.5em;
  background-color: rgb(19, 26, 58);
  color: rgb(199, 199, 175);
}

.basket {
  border-radius: 15px;
  font-size: 1em;
}

main {
  display: flex;
  margin: 1em;
}

ul {
  margin-top: 0;
  width: 30%;
  color: rgb(0, 0, 0);
  background-color: rgba(54, 51, 71, 0.4);
}

ul li {
  padding: 1em;
}

li button,
select {
  margin: 1em;
}

#productList {
  width: 50%;
  justify-self: flex-start;
  margin-left: 4em;
  height: 100vh;
}

#productsPrice {
  justify-self: flex-end;
  text-align: center;
  width: 50%;
  height: 100vh;
  margin-right: 2em;
  background-color: rgba(118, 143, 142, 0.5);
}